<div class="row header">
  <div class="col-1">
    <button [routerLink]="'accueil'" type="button" class="btn btn-outline-primary">Accueil</button>
  </div>
  <div class="col-1">
    <button [routerLink]="'parcours'" type="button" class="btn btn-outline-primary">Parcours</button>
  </div>
  <div class="col-1" >
    <button [routerLink]="'formation'" type="button" class="btn btn-outline-primary">Formation</button>
  </div>
  <div class="col-1">
    <button [routerLink]="'competences'" type="button" class="btn btn-outline-primary">Compétences</button>
  </div>
</div>
