.container {
  padding-bottom: 3rem;
  .card {
    margin-bottom: 2rem;
    background-color: rgb(245, 242, 242);
    .card-text {
      label {
        font-weight: bold;
      }
      span {
        margin: 0 2px;
      }
    }
  }
}
