<div class="container">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">
        Caceis (Groupe Crédit Agicole) - Mai 2021 à mai 2024
      </h5>
      <h6 class="card-subtitle mb-2 text-body-secondary">
        DEVELOPPEUR FRONTEND ANGULAR 16
      </h6>
      <div class="card-text">
        <label>Contexte</label>
        <p>
          Equipe Agile de 3 développeurs, 1 PO, 1 Scrum Master et 1 Business
          Analyst - Acteur majeur dans le secteur de l'Assets Management -
          Secteur Finance / Banking.
        </p>
        <label>Mission</label>
        <p>
          Au sein d'un établissement financier, développement d'applications web
          pour le management de services aux investisseurs. De la conception des
          interfaces à la mise en production des applications, implication dans
          toutes la chaîne de développement d'applications internes et externes.
        </p>
        <label>Activités</label>
        <ul>
          <li>Définition, conception des interfaces web.</li>
          <li>Collaboration avec UX/UI designers.</li>
          <li>
            Mise en place des environnements de développement frontend (Node,
            NPM, Git, Angular CLI)
          </li>
          <li>
            Développement d'applications frontend avec le framework Angular 16
            et de nombreuses librairies frontend.
          </li>
          <li>Développement en programmation réactive avec RXJS.</li>
          <li>State management avec la librairie NGRX.</li>
          <li>
            Collaboration avec les développeurs backend sur la définition et
            l'utilisation des API.
          </li>
          <li>
            Participation à toutes les cérémonies Agile (daily, démos, retro,
            sprint planning, poker planning).
          </li>
          <li>Participation aux mises en production trimestrielles.</li>
          <li>UAT et Quality topics (Code quality, refactoring).</li>
          <li>Rédaction de test unitaires (Karma / Jasmine).</li>
          <li>Migration Angular v12 vers Angular v16.</li>
        </ul>
        <div>
          <label>Evironnement technique</label>
          <br />
          <span class="badge rounded-pill text-bg-secondary">Angular 16</span>
          <span class="badge rounded-pill text-bg-secondary">RXJS</span>
          <span class="badge rounded-pill text-bg-secondary">NGRX</span>
          <span class="badge rounded-pill text-bg-secondary"
            >Angular Material</span
          >
          <span class="badge rounded-pill text-bg-secondary">Prime NG</span>
          <span class="badge rounded-pill text-bg-secondary">MomentJS</span>
          <span class="badge rounded-pill text-bg-secondary">Karma</span>
          <span class="badge rounded-pill text-bg-secondary">Jasmine</span>
        </div>
        <br />
        <div>
          <label>Evironnement fonctionnel</label>
          <br />
          <span class="badge rounded-pill text-bg-secondary">Agile Scrum</span>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Enedis - Janvier 2020 à Mai 2021</h5>
      <h6 class="card-subtitle mb-2 text-body-secondary">
        DEVELOPPEUR FRONTEND ANGULAR 7
      </h6>
      <div class="card-text">
        <label>Contexte</label>
        <p>
          Équipe de 6 développeurs en méthodologie Agile - Développement d’une
          application sous Angular 7 de gestion du réseau technique d’Enedis.
        </p>
        <label>Mission</label>
        <p>
          Insertion dans un projet en cours de développement d'une application
          web de gestion du réseau électrique d'Enedis. Application interne pour
          la gestion des interventions des techniciens Enedis sur le réseau et
          les infrastructures de l'entreprise.
        </p>
        <label>Activités</label>
        <ul>
          <li>Développement de features sur l'application avec Angular 7.</li>
          <li>Définition et cadrage des évolutions de l'application.</li>
          <li>
            Participation aux démos mensuelles présentant les nouvelles features
            développées.
          </li>
          <li>
            Développement de features cartographiques avec le framework
            OpenLayers 3.
          </li>
          <li>Réplication de l'application native en C++.</li>
          <li>Développement d'API en websockets pour l’ensemble du projet.</li>
          <li>Tests unitaires (Karma / Jasmine).</li>
          <li>Tests fonctionnels automatisés (Cypress).</li>
        </ul>
        <div>
          <label>Evironnement technique</label>
          <br />
          <span class="badge rounded-pill text-bg-secondary">Angular 7</span>
          <span class="badge rounded-pill text-bg-secondary">Websockets</span>
          <span class="badge rounded-pill text-bg-secondary">Jenkins</span>
          <span class="badge rounded-pill text-bg-secondary">GitLab</span>
          <span class="badge rounded-pill text-bg-secondary">Git</span>
          <span class="badge rounded-pill text-bg-secondary">Linux</span>
          <span class="badge rounded-pill text-bg-secondary">Bootstrap</span>
          <span class="badge rounded-pill text-bg-secondary">Karma</span>
          <span class="badge rounded-pill text-bg-secondary">Jasmine</span>
          <span class="badge rounded-pill text-bg-secondary">Cypres</span>
        </div>
        <br />
        <div>
          <label>Evironnement fonctionnel</label>
          <br />
          <span class="badge rounded-pill text-bg-secondary">Agile Scrum</span>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">CNES - Septembre 2019 à Décembre 2019</h5>
      <h6 class="card-subtitle mb-2 text-body-secondary">
        DÉVELOPPEUR FRONT END ANGULAR 8
      </h6>
      <div class="card-text">
        <label>Contexte</label>
        <p>
          Equipe de 2 développeurs (1 Frontend et 1 Backend) - Développement
          d’une application web sous Angular 8 de gestion du parc informatique
          pour le compte du CNES (Centre National d'Etudes Spatiales).
        </p>
        <label>Mission</label>
        <p>
          Développement from scratch d'une application, pour le CNES, d'analyse
          et de gestion de son parc informatique. Temporalité du projet réduite
          pour un besoin urgent. Livraison et succès du projet en 4 mois.
        </p>
        <label>Activités</label>
        <ul>
          <li>
            Création de l’application from scratch et set up de l'environnement
            frontend Angular 8 en autonomie.
          </li>
          <li>
            Livraison et mise en production de l'application en fin de mission.
          </li>
          <li>
            Conception et développement de l'architecture frontend du projet.
          </li>
          <li>
            Développement de l’authentification et du routing complet de
            l’application.
          </li>
          <li>
            Conception graphique UX/UI de l'application avec la librairie
            Bootstrap.
          </li>
          <li>
            Conception et développement de composants graphiques avec la
            librairie GraphJS.
          </li>
          <li>Rédaction de tests unitaires (Karma / Jasmine).</li>
        </ul>
        <div>
          <label>Evironnement technique</label>
          <br />
          <span class="badge rounded-pill text-bg-secondary">Angular 8</span>
          <span class="badge rounded-pill text-bg-secondary">GraphJS</span>
          <span class="badge rounded-pill text-bg-secondary">Git</span>
          <span class="badge rounded-pill text-bg-secondary">GitFlow</span>
          <span class="badge rounded-pill text-bg-secondary">Bootstrap</span>
          <span class="badge rounded-pill text-bg-secondary">Jira</span>
        </div>
        <br />
        <div>
          <label>Evironnement fonctionnel</label>
          <br />
          <span class="badge rounded-pill text-bg-secondary">Cycle en V</span>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Cdiscount - Mai 2019 à Septembre 2019</h5>
      <h6 class="card-subtitle mb-2 text-body-secondary">
        DÉVELOPPEUR BACKEND .NET CORE
      </h6>
      <div class="card-text">
        <label>Contexte</label>
        <p>
          Equipe de 10 développeurs en méthodologie Agile - Développement d’une
          application sous .Net Core de cagnotte / porte-monnaie électronique
          selon une architecture microservices pour les clients de CDiscount.
        </p>
        <label>Mission</label>
        <p>
          Développement from scratch d'une application e-wallet pour le compte
          de CDiscount. Mission Backend en C# avec le framework .NET CORE.
        </p>
        <label>Activités</label>
        <ul>
          <li>
            Création et rédaction de la conception technique des microservices.
          </li>
          <li>
            Développement des microservices de l’application sous .NET CORE.
          </li>
          <li>Rédaction de tests unitaires avec le framework xUnit et Moq.</li>
          <li>Particpation aux cérémonies Agile (Daily, démos, rétros).</li>
        </ul>
        <div>
          <label>Evironnement technique</label>
          <br />
          <span class="badge rounded-pill text-bg-secondary">.Net Core</span>
          <span class="badge rounded-pill text-bg-secondary">Rabbit MQ</span>
          <span class="badge rounded-pill text-bg-secondary">SQL Server</span>
          <span class="badge rounded-pill text-bg-secondary">Git</span>
          <span class="badge rounded-pill text-bg-secondary">Jira</span>
        </div>
        <br />
        <div>
          <label>Evironnement fonctionnel</label>
          <br />
          <span class="badge rounded-pill text-bg-secondary">Agile Scrum</span>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">
        DIGITAS LBI (PUBLICIS GROUP) - Mars 2017 à Juillet 2018
      </h5>
      <h6 class="card-subtitle mb-2 text-body-secondary">
        DÉVELOPPEUR FRONTEND JQUERY
      </h6>
      <div class="card-text">
        <label>Contexte</label>
        <p>
          Référent Frontend d'une équipe de 15 développeurs, développement d’une
          application web B to B e-commerce pour un acteur du secteur
          automobile.
        </p>
        <label>Mission</label>
        <p>
          Au sein d'une grande agence digitale, développement frontend d'une
          application e-commerce (retail) en Javascript avec la librairie
          JQuery.
        </p>
        <label>Activités</label>
        <ul>
          <li>
            Mise en place d’un pré-processeur avec la librairie GulpJS en
            autonomie pour la gestion des assets frontend au sein du framework
            backend Symfony.
          </li>
          <li>
            Développement frontend en Javascript et JQuery et intégration
            responsive web design (Bootstrap).
          </li>
          <li>Travail organisé selon la méthodologie Agile Scrum.</li>
          <li>
            Travail sur l’amélioration des performances Frontend de
            l’application : gestion autonome des assets, mise en place de lazy
            loading, optimisation des chargements.
          </li>
        </ul>
        <div>
          <label>Evironnement technique</label>
          <br />
          <span class="badge rounded-pill text-bg-secondary">JQuery</span>
          <span class="badge rounded-pill text-bg-secondary">Javascript</span>
          <span class="badge rounded-pill text-bg-secondary">GulpJS</span>
          <span class="badge rounded-pill text-bg-secondary">Symfony</span>
          <span class="badge rounded-pill text-bg-secondary">Git</span>
          <span class="badge rounded-pill text-bg-secondary">GitLab</span>
          <span class="badge rounded-pill text-bg-secondary">Jira</span>
          <span class="badge rounded-pill text-bg-secondary">Jenkins</span>
        </div>
        <br />
        <div>
          <label>Evironnement fonctionnel</label>
          <br />
          <span class="badge rounded-pill text-bg-secondary">Cycle en V</span>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">YUSO FLEET - Novembre 2016 à Février 2017</h5>
      <h6 class="card-subtitle mb-2 text-body-secondary">
        DÉVELOPPEUR FRONTEND ANGULAR JS
      </h6>
      <div class="card-text">
        <label>Contexte</label>
        <p>
          Au sein d’une startup, sur un projet comprenant 5 développeurs,
          développement d’une application web de gestion de courses véhiculées
          (VTC, livraisons, … ) avec géolocalisation.
        </p>
        <label>Mission</label>
        <p>Développement applicatif avec le framework Angular JS.</p>
        <label>Activités</label>
        <ul>
          <li>Création des wireframes et travail sur l’UX de l’application.</li>
          <li>
            Création de la partie frontend avec Angular JS pour la
            fonctionnalité livraison de l’application.
          </li>
          <li>
            Utilisation de tests unitaires et fonctionnels (Karma / Jasmine).
          </li>
          <li>
            Adaptation du site en Responsive Design pour une utilisation sur
            mobile et tablette.
          </li>
          <li>
            Refactoring de code selon l’approche component (nouveau pattern de
            développement en 2016 avec la v1.5 d'Angular JS).
          </li>
        </ul>
        <div>
          <label>Evironnement technique</label>
          <br />
          <span class="badge rounded-pill text-bg-secondary">Angular JS</span>
          <span class="badge rounded-pill text-bg-secondary">Bootstrap </span>
          <span class="badge rounded-pill text-bg-secondary">Git</span>
          <span class="badge rounded-pill text-bg-secondary">Jira</span>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">PLÜM ÉNERGIE - Juillet 2016 à Septembre 2016</h5>
      <h6 class="card-subtitle mb-2 text-body-secondary">
        DÉVELOPPEUR FRONTEND ANGULAR JS
      </h6>
      <div class="card-text">
        <label>Contexte</label>
        <p>
          Au sein d’une startup, sur un projet comprenant 4 développeurs,
          développement du site www.plum.fr , application client d’un nouveau
          fournisseur d’énergie.
        </p>
        <label>Mission</label>
        <p>Développement applicatif avec le framework Angular JS.</p>
        <label>Activités</label>
        <ul>
          <li>
            Développement du Frontend de l’application web avec Angular JS.
          </li>
          <li>
            Développement de l’espace communauté du site avec NodeBB (Outil de
            développement dédié aux espaces communautaires).
          </li>
          <li>Adaptation responsive du site pour mobiles et tablettes.</li>
          <li>Organisation selon la méthode Agile (Scrum).</li>
        </ul>
        <div>
          <label>Evironnement technique</label>
          <br />
          <span class="badge rounded-pill text-bg-secondary">Angular JS</span>
          <span class="badge rounded-pill text-bg-secondary">Bootstrap </span>
          <span class="badge rounded-pill text-bg-secondary">Git</span>
          <span class="badge rounded-pill text-bg-secondary">NodeBB</span>
          <span class="badge rounded-pill text-bg-secondary">Jira</span>
        </div>
      </div>
    </div>
  </div>
</div>
