<div class="card">
  <div class="card-body">
    <div class="card-text">
      <label>Langages</label>
      <br />
      <span class="badge rounded-pill text-bg-secondary"
        >Javascript (ECMAScript 2020)</span
      >
      <span class="badge rounded-pill text-bg-secondary">C# (notions)</span>
      <span class="badge rounded-pill text-bg-secondary">SQL (notions)</span>
    </div>
    <div class="card-text">
      <label>Frameworks Frontend</label>
      <br />
      <span class="badge rounded-pill text-bg-secondary">Angular</span>
    </div>
    <div class="card-text">
      <label>Autre Frameworks</label>
      <br />
      <span class="badge rounded-pill text-bg-secondary">.NET (notions)</span>
    </div>
    <div class="card-text">
      <label>Web</label>
      <br />
      <span class="badge rounded-pill text-bg-secondary">HTML5</span>
      <span class="badge rounded-pill text-bg-secondary">CSS3</span>
      <span class="badge rounded-pill text-bg-secondary">Sass</span>
      <span class="badge rounded-pill text-bg-secondary">Bootstrap</span>
      <span class="badge rounded-pill text-bg-secondary">Angular Material</span>
      <span class="badge rounded-pill text-bg-secondary">PrimeNG</span>
      <span class="badge rounded-pill text-bg-secondary">MomentJS</span>
    </div>
    <div class="card-text">
      <label>Versionning</label>
      <br />
      <span class="badge rounded-pill text-bg-secondary">Git</span>
    </div>
    <div class="card-text">
      <label>Autres Outils</label>
      <br />
      <span class="badge rounded-pill text-bg-secondary">Jenkins</span>
      <span class="badge rounded-pill text-bg-secondary">Jira</span>
      <span class="badge rounded-pill text-bg-secondary">Github</span>
      <span class="badge rounded-pill text-bg-secondary">Gitlab</span>
      <span class="badge rounded-pill text-bg-secondary">Gulp</span>
      <span class="badge rounded-pill text-bg-secondary">Firebase</span>
    </div>
  </div>
</div>
