<div class="card">
  <div class="card-body">
    <h5 class="card-title">
      M2I FORMATIONS - Bordeaux - Déc. 2018 à Mars 2019
    </h5>
    <h5 class="card-subtitle mb-2 text-body-secondary">Développeur .NET</h5>
    <div class="card-text">
      <label>Description</label>
      <p>Développement Fullstack en C# avec le framework Microsoft .NET.</p>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <h5 class="card-title">
      L’ÉCOLE MULTIMÉDIA - Paris - Sept. 2015 à Mars 2016
    </h5>
    <h5 class="card-subtitle mb-2 text-body-secondary">
      Développeur Fullstack
    </h5>
    <div class="card-text">
      <label>Description</label>
      <p>
        Développement web et Intégration web, responsive web design, structures
        sémantiques. Apprentissage de HTML5 CSS3 PHP MySQL Javascript jQuery
        Bootstrap Wordpress...
      </p>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <h5 class="card-title">ISIC-IUP - Bordeaux 2003 - 2004</h5>
    <h5 class="card-subtitle mb-2 text-body-secondary">
      Maîtrise en Sciences de l'Information et de la Communication
    </h5>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <h5 class="card-title">BACCALAUREAT SCIENTIFIQUE (mention AB) 1998</h5>
  </div>
</div>
