<div class="row">
  <div class="card col-8">
    <div class="card-body">
      <h3 class="card-title">Jean-Baptiste Charrier</h3>
      <h5 class="function">Développeur Frontend Angular</h5>
      <p class="card-text">Expérience : {{ xpYears }}</p>
      <section class="speciality">
        <ul class="list-group">
          <li class="list-group-item active" aria-current="true">
            Spécialités
          </li>
          <li class="list-group-item">HTML5 - CSS3</li>
          <li class="list-group-item">Angular</li>
          <li class="list-group-item">Javascript / Typescript</li>
          <li class="list-group-item">C# et Framework .Net (notions)</li>
        </ul>
      </section>
      <section class="other">
        <ul class="list-group">
          <li class="list-group-item active" aria-current="true">
            Autres outils
          </li>
          <li class="list-group-item">Git - Github</li>
          <li class="list-group-item">
            Angular Material - Bootstrap - PrimeNG
          </li>
          <li class="list-group-item">Jenkins</li>
          <li class="list-group-item">Jira - Miro boards</li>
        </ul>
      </section>
    </div>
  </div>
  <div class="card col-2">
    <div class="card-body"></div>
  </div>
</div>
